<a href="https://colab.research.google.com/github/masaladosai/pandas/blob/main/pandasbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import pandas as pd
import numpy as np

In [ ]:
file_data=files.upload()

In [44]:
file_data.keys()
filename = list(file_data.keys())[0]

In [45]:
df=pd.read_excel(filename)

In [ ]:
df.head()

to find min and max in each column

In [ ]:
print(df['Maths'].min())
print(df['Maths'].max())
max_marks=df['Maths'].max()

In [ ]:
df.loc[df['Maths'].idxmax()]

In [ ]:
df.loc[df['Maths'].idxmax(),"Roll Number"] #loc can find the row when the input is a number

In [ ]:
df[df['Maths']>max_marks-10]

In [ ]:
print(df.nlargest(3,"Maths")["Roll Number"])

In [ ]:
#get a single value
top1=df.nlargest(3,"Maths")["Roll Number"].iloc[0]

#get as a ist
top3=df.nlargest(3,"Maths")["Roll Number"].tolist()


print(top1) #str/int
print(top3) #list

In [ ]:
print(df.describe())
print(df.info())
print(df.head())
print(df.tail())
print(df.shape)
print(df.columns)

# slicing and indexing, **iloc**


```
df.iloc[0]          # first row
df.iloc[1:3]        # rows at position 1 and 2
df.iloc[0, 1]       # first row, second column
df.iloc[:, 0]       # all rows, first column
```

In [ ]:
#position-based (like Python lists)
df.iloc[1]
df.iloc[4:8]
df.iloc[4:8,:3]

# loc â†’ label-based (real-world usage)

In [ ]:
df.loc[0]
df.loc[0:5]
df.loc[0:5,"Maths"]
df.loc[df["Maths"]>70]
df.loc[df["Maths"]>70,["Roll Number","Maths"]]